.b2 {
  border: none;
  border-color: white;
  background-color: greenyellow;
  color: greenyellow;
  padding: 0;

  height: 38px;
  margin: 0px;
  text-align: center;
  width: 38px;
}

p {
  color: white;
}
h1 {
  color: lightgreen;
}
body {
  background-color: black;
}
.b1 {
  border: none;
  border-color: none;
  background-color: black;
  color: black;
  padding: 0;

  height: 38px;
  margin: 0px;
  text-align: center;
  width: 38px;
}

.bplus {
  border: none;
  background-color: rgb(1, 255, 234);
  color: black;
  padding: 0;
  height: 38px;
  margin: 0px;
  text-align: center;
  width: 38px;
}

div.newLine {
  max-height: 38px;
}

.wrapper {
  background-color: white;
}

#clocktime {
  color: rgb(234, 0, 255);
}

.entireThing {
  margin: 50px;
  background-color: black;
  text-align: center;
}

button:focus {
  outline: none;
}

#squareGreen {
  background-color: green;
  color: black;

  border: none;

  font-weight: bold;

  height: 18px;

  text-align: center;
  width: 75px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.green {
  border: none;
  background-color: lightgreen;
  color: white;
  padding: 0;
  font-size: 5px;
  margin: -4px;
  height: 38px;
  text-align: center;
  width: 38px;
}

#largebutton {
  height: 35px;
  width: 150px;
  font-size: 20px;
  font-weight: bold;
  margin: 15px;
  padding: 5;
  color: white;
  background-color: rgb(68, 68, 68);
}

.largebutton {
  height: 90px;
  width: 250px;
  font-size: 50px;
  font-weight: bold;
  color: white;
  background-color: rgb(68, 68, 68);
}

.orange {
  border: none;
  background-color: rgb(255, 0, 200);
  color: white;
  padding: 0;
  font-size: 5px;
  margin: -4px;
  height: 38px;
  text-align: center;
  width: 38px;
}

.orange2 {
  border: none;
  background-color: rgb(234, 0, 255);
  color: white;
  padding: 0;
  font-size: 5px;
  margin: -4px;
  height: 38px;
  text-align: center;
  width: 38px;
}

.orange2 {
  border: none;
  background-color: rgb(162, 0, 255);
  color: white;
  padding: 0;
  font-size: 5px;
  margin: -4px;
  height: 38px;
  text-align: center;
  width: 38px;
}

.orange3 {
  border: none;
  background-color: rgb(0, 17, 255);
  color: white;
  padding: 0;
  font-size: 5px;
  margin: -4px;
  height: 38px;
  text-align: center;
  width: 38px;
}

.orange4 {
  border: none;
  background-color: rgb(0, 217, 255);
  color: white;
  padding: 0;
  font-size: 5px;
  margin: -4px;
  height: 38px;
  text-align: center;
  width: 38px;
}

.orange5 {
  border: none;
  background-color: rgb(72, 255, 0);
  color: white;
  padding: 0;
  font-size: 5px;
  margin: -4px;
  height: 38px;
  text-align: center;
  width: 38px;
}

.orange6 {
  border: none;
  background-color: rgb(251, 255, 0);
  color: white;
  padding: 0;
  font-size: 5px;
  margin: -4px;
  height: 38px;
  text-align: center;
  width: 38px;
}

.orange7 {
  border: none;
  background-color: rgb(255, 124, 2);
  color: white;
  padding: 0;
  font-size: 5px;
  margin: -4px;
  height: 38px;
  text-align: center;
  width: 38px;
}

.orange8 {
  border: none;
  background-color: rgb(255, 0, 0);
  color: white;
  padding: 0;
  font-size: 5px;
  margin: -4px;
  height: 38px;
  text-align: center;
  width: 38px;
}

.lightorange {
  border: none;
  background-color: rgb(250, 218, 158);
  color: white;
  padding: 0;
  font-size: 5px;
  margin: -4px;
  height: 38px;
  text-align: center;
  width: 38px;
}

.blue {
  border: none;
  background-color: blue;
  color: white;
  padding: 0;
  font-size: 5px;
  margin: -4px;
  height: 38px;
  text-align: center;
  width: 38px;
}

.slider {
  text-align: center;
  margin: 20px;
  align-content: center;
}

.icon {
  border: none;
  background-color: rgb(0, 225, 255);
  color: white;
  padding: 0;
  font-size: 5px;
  margin: -4px;
  height: 38px;
  text-align: center;
  width: 38px;
}

.bgrey {
  border: none;
  background-color: black;
  color: white;
  padding: 0;
  font-size: 5px;
  margin: 0px;
  height: 38px;
  text-align: center;
  width: 38px;
}

.bdirection {
  border: none;
  background-color: rgb(0, 255, 21);
  color: white;
  padding: 0;
  font-size: 5px;
  margin: 0px;
  height: 38px;
  text-align: center;
  width: 38px;
}

.directionLand {
  margin: 20px;
}

#explanation {
  font-size: 24px;
  text-align: center;
  border-radius: 35px;
  border: solid;
  border-width: 10px;
  color: white;
  background-color: rgb(107, 105, 107);
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 0;
  align-items: center;
  margin-top: 30px;
}

#sortouttext {
  margin-top: 30px;
  margin: 40px;
}

#divinside {
  margin: 50%;
}

#spinningadventure {
  height: 25px;
  width: 25px;

  text-align: left;
  align-items: left;
}
#spinwrap {
  height: 25px;
  width: 25px;
  position: fixed;
  right: 800;
  text-align: left;
  align-items: left;
}
#loading {
  color: rgb(72, 255, 0);
  font-size: 25px;
  text-align: center;
}
#scoreDisplay {
  color: rgb(251, 255, 0);
  font-size: 25px;
  text-align: left;
}

#endDisplay {
  color: rgb(251, 255, 0);
  font-size: 25px;
  text-align: left;
}

@media only screen and (max-width: 700px) {
  .b2 {
    border: none;
    border-color: white;
    background-color: greenyellow;
    color: greenyellow;
    padding: 0;

    height: 12px;
    margin: 0px;
    text-align: center;
    width: 12px;
  }

  .b1 {
    border: none;
    background-color: none;
    color: black;
    padding: 0;

    height: 12px;
    margin: 0px;
    text-align: center;
    width: 12px;
  }

  .bplus {
    border: none;
    background-color: rgb(7, 237, 253);
    color: black;
    padding: 0;
    height: 12px;
    margin: 0px;
    text-align: center;
    width: 12px;
  }

  div.newLine {
    height: 12px;
  }

  .wrapper {
    background-color: white;
  }

  #clocktime {
    color: rgb(234, 0, 255);
  }

  .entireThing {
    margin: 0px;
    background-color: black;
    text-align: center;
    width: 100%;
    height: 100%;
  }

  button:focus {
    outline: none;
  }

  #squareGreen {
    background-color: green;
    color: black;

    border: none;

    font-weight: bold;

    height: 18px;

    text-align: center;
    width: 75px;
  }

  .green {
    border: none;
    background-color: lightgreen;
    color: white;
    padding: 0;
    font-size: 5px;
    margin: -4px;
    height: 38px;
    text-align: center;
    width: 38px;
  }

  #largebutton {
    height: 35px;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    margin: 15px;
    padding: 5;
    color: white;
    background-color: rgb(68, 68, 68);
  }

  .largebutton {
    height: 90px;
    width: 250px;
    font-size: 50px;
    font-weight: bold;
    color: white;
    background-color: rgb(68, 68, 68);
  }

  .orange {
    border: none;
    background-color: rgb(255, 0, 200);
    color: white;
    padding: 0;
    font-size: 5px;
    margin: -4px;
    height: 38px;
    text-align: center;
    width: 38px;
  }

  .orange2 {
    border: none;
    background-color: rgb(234, 0, 255);
    color: white;
    padding: 0;
    font-size: 5px;
    margin: -4px;
    height: 38px;
    text-align: center;
    width: 38px;
  }

  .orange2 {
    border: none;
    background-color: rgb(162, 0, 255);
    color: white;
    padding: 0;
    font-size: 5px;
    margin: -4px;
    height: 38px;
    text-align: center;
    width: 38px;
  }

  .orange3 {
    border: none;
    background-color: rgb(0, 17, 255);
    color: white;
    padding: 0;
    font-size: 5px;
    margin: -4px;
    height: 38px;
    text-align: center;
    width: 38px;
  }

  .orange4 {
    border: none;
    background-color: rgb(0, 217, 255);
    color: white;
    padding: 0;
    font-size: 5px;
    margin: -4px;
    height: 38px;
    text-align: center;
    width: 38px;
  }

  .orange5 {
    border: none;
    background-color: rgb(72, 255, 0);
    color: white;
    padding: 0;
    font-size: 5px;
    margin: -4px;
    height: 38px;
    text-align: center;
    width: 38px;
  }

  .orange6 {
    border: none;
    background-color: rgb(251, 255, 0);
    color: white;
    padding: 0;
    font-size: 5px;
    margin: -4px;
    height: 38px;
    text-align: center;
    width: 38px;
  }

  .orange7 {
    border: none;
    background-color: rgb(255, 124, 2);
    color: white;
    padding: 0;
    font-size: 5px;
    margin: -4px;
    height: 38px;
    text-align: center;
    width: 38px;
  }

  .orange8 {
    border: none;
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 0;
    font-size: 5px;
    margin: -4px;
    height: 38px;
    text-align: center;
    width: 38px;
  }

  .lightorange {
    border: none;
    background-color: rgb(250, 218, 158);
    color: white;
    padding: 0;
    font-size: 5px;
    margin: -4px;
    height: 38px;
    text-align: center;
    width: 38px;
  }

  .blue {
    border: none;
    background-color: blue;
    color: white;
    padding: 0;
    font-size: 5px;
    margin: -4px;
    height: 38px;
    text-align: center;
    width: 38px;
  }

  .slider {
    text-align: center;
    margin: 20px;
    align-content: center;
  }

  .icon {
    border: none;
    background-color: rgb(0, 225, 255);
    color: white;
    padding: 0;
    font-size: 5px;
    margin: -4px;
    height: 38px;
    text-align: center;
    width: 38px;
  }

  .bgrey {
    border: none;
    background-color: rgb(107, 105, 107);
    color: white;
    padding: 0;
    font-size: 5px;
    margin: -4px;
    height: 38px;
    text-align: center;
    width: 38px;
  }

  .directionLand {
    margin: 40px;
  }

  #explanation {
    font-size: 24px;
    text-align: center;
    border-radius: 35px;
    border: solid;
    border-width: 10px;
    color: white;
    background-color: rgb(107, 105, 107);
    height: 100%;
    width: 100%;
    margin: auto;
    padding: 0;
    align-items: center;
    margin-top: 30px;
  }

  #sortouttext {
    margin-top: 30px;
    margin: 40px;
  }

  #divinside {
    margin: 50%;
  }

  #spinningadventure {
    height: 25px;
    width: 25px;

    text-align: left;
    align-items: left;
  }
  #spinwrap {
    height: 25px;
    width: 25px;
    position: fixed;
    right: 800;
    text-align: left;
    align-items: left;
  }
  #loading {
    color: rgb(72, 255, 0);
    font-size: 25px;
    text-align: center;
  }
  #scoreDisplay {
    color: rgb(251, 255, 0);
    font-size: 25px;
    text-align: left;
  }

  #endDisplay {
    color: rgb(251, 255, 0);
    font-size: 25px;
    text-align: left;
  }

  .bdirection {
    border: none;
    background-color: rgba(0, 255, 21, 0.397);
    color: white;
    padding: 0;
    font-size: 5px;
    margin: 0px;
    height: 75px;
    text-align: center;
    width: 75px;
    z-index: 1;
  }

  .bgrey {
    border: none;
    background-color: rgba(107, 105, 107, 0);
    color: white;
    padding: 0;
    font-size: 5px;
    margin: 0px;
    height: 50px;
    text-align: center;
    width: 50px;
  }

  span {
    max-height: 4px;
  }

  .directionLand {
    position: fixed;
  }

  p {
    color: white;
  }
  h1 {
    color: lightgreen;
  }
  body {
    background-color: black;
  }
}
